/*
Pink: #eb4f90 

*/

@font-face {
    font-family: 'MagdaClean';
    src: url('Fonts/MagdaClean.otf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'LidoSTF';
    src: url('Fonts/LidoSTF.ttf') format('truetype');
    font-style: normal;
}


*{
    margin: 0;
}

body{
    background-image: url('../Images/smallpattern2.png');
    background-size: 6%;
}


header{
    margin: 0 auto;
    width: 100%;
    height: 90px;
    background-color: #eb4f90 ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: white solid 1px;
}

#logo{
    margin-left: 40px;
    height: 90px;
    width: 300px;
}

#logoimage{
    height: 90px;
    width: auto;
}

#options-menu{
    position: relative;
    right: 0;
}

.about{
    text-decoration: none;
    font-family: "LidoSTF";
    color: #eb4f90;
    font-size: 26pt;
    line-height: 90px;
    text-shadow: 2px 2px 2px white;
    margin-right: 40px;
}

#main{
    margin: 0 auto;
    width: 1200px;
    height: 1500px;
    background-color: #EBDE67;
}

#panel-box{
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: auto;
}

.group-box{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 50px;
    width:800px;
    height: 200px;
    border-radius: 25px;
    border: solid white 2px;
}

#group-box-muse{
    background-color: #FF468C;
    margin-top: 50px;
}

#group-box-aqours{
    background-color: #00C8FA;
}

#group-box-nijigasaki{
    background-color: #fab920;
}

#group-box-liella{
    background-color: #C266CC;
}




.option-text, .option-solo, .option-other{
    font-family: "MagdaClean";
    color: white;
    font-size: 18px;
    margin-top: 15px;
}

.subunit-box{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 10px;
}

.solo-box{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 170px;
}

.option-solo, .option-other{
    margin: 0 0 0 8px;
    line-height: 40px;
}


.option-image{
    height: 40px;
    width: auto;
}

.option-box-main{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option-box-subunit{
    margin-right: 20px;
}

.option-image-main{
    display: block;
    height: 80px;
    width: auto;
    margin: 0 auto;
}

.liella-image{
    height: 70px;
}

.nijigasaki-option{
    height: 40px;
    width: 40px;
    margin-right: 3px;
    border-radius: 30px;
    border: solid white 1px;
    background-color: #FBD06C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nijigasaki-solo-image{
    width: 30px;
    height: auto;
}

.button{
    width: 200px;
    height: 50px;
    border: #eb4f90 solid 1px;
    background-color: #f08bb5;
    border-radius: 30px;
    cursor: pointer;
}

.button-text{
    text-align: center;
    color:white;
    font-family: 'MagdaClean';
    line-height: 50px;
    font-size: 18px;
}



