*{
    margin: 0;
}


header{
    margin: 0 auto;
    width: 1200px;
    height: 120px;
    background-color: red;
}

#main{
    margin: 0 auto;
    width: 1200px;
    height: 700px;
    background-color: blue;
}